img {
    width : 100%;
  }
.app {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #left {
    width : 200px;
    height : 200px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #thumbnail {
    display : flex;
    flex-direction: row;
  }
  #right {
    margin-left: 20px;
  }